body{
    background-color: rgb(136, 46, 220); /* cor do fundo da página */
    color:aliceblue; /* cor da escrita */
    font-family:"Bitcount Prop Single Ink";
    margin: 0px;
    margin-bottom: 100px;
}

header {
 border: solid 2px rgba(137, 9, 9, 0.836);
 font-size: 32px;
 padding: 10px;
 color: darkmagenta;
}
.chamada{
    background-color:#882ddd ; /*cor escolhida*/
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 30px; /* tamanho da fonte */
    text-align: center; /* centralizado */
    text-transform: uppercase; /* letras miúsculas */
}

p{
    font-size:16px;
    color:aliceblue
    
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}

.categoria-videos img{
    opacity: 0,5;
    height: 200px;
}

.categortia-videos img:hover{
    opacity: 1,0;
    border: 1px solid plum;
}

.categoria h2 {
    color: darkviolet;

}