body{
    background-color: rgb(136, 46, 220); /* cor do fundo da página */
    color:aliceblue; /* cor da escrita */
    font-family:"Bitcount Prop Single Ink";
}

header {
 border: solid 2px rgba(137, 9, 9, 0.836);
 font-size: 32px;
 padding: 10px;
 color: darkmagenta;
}
section{
    background-color:#882ddd ; /*cor escolhida*/
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 30px; /* tamanho da fonte */
    text-align: center; /* centralizado */
    text-transform: uppercase; /* letras miúsculas */
}

p{
    font-size:16px;
    color:aliceblue
}